<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./../partials/head') %>
</head>

<body class="container">

    <header>
        <%- include ('./../partials/header') %>
    </header>

    <main>
        <h2 class="centerHeader">Transfers <%- include('./../partials/isSecureTitle.ejs') %></h2>
        <div class="container d-flex justify-content-center">
            <div class="transferDiv">
                <div>
                    <span>Account Number: <%=account_number%></span><br>
                    <span>Account Balance: $<%=balance%></span>
                </div>
                <div class="transferNav text-center">
                    <h3 style="color: white">Transfer Info</h3>                                       
                </div>
                <form method="POST">
                    <input type="hidden" name="fromAccount" value="<%=account_number%>">
                    <div class="form-group">
                        <label for="">Transfer to Account Number:</label>
                        <input 
                        <% if (secure) { %>
                            type="number"
                        <% } else { %>
                            type="text"
                        <% } %>
                         class="form-control" id="toAccount" name="toAccount" required>
                    </div>
                    <div class="form-group">
                        <label for="">Transfer Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount" min="0.00" step="0.01" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            
        </div>
    </main>

    <footer>
        <%- include ('./../partials/footer') %>
    </footer>

</body>

</html>
